body {
  background-image: url('../../assets/img/background.png');
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#indexBackground {
  display: block;
  margin: auto;
  width: 50%;
  height: 100%;
  background-image: url('../../assets/img/backgroundImage.png');
}

#logo {
  display: block;
  padding-top: 10vh;
  margin: auto;
}

#btnIndex {
  display: inline-block;
  margin: auto;
  margin-top: 10vh;
  padding: 3vh;
}

#homeBackground {
  display: block;
  margin: auto;
  width: 75%;
  height: 100%;
  background-image: url('../../assets/img/backgroundImage.png');
}

#homeLogo {
}

a {
  text-decoration: none;
}

.footer-basic {
  bottom: 0;
  position: fixed;
  width: 75%;
}

