

/* CONTENTS---------------------------------------------------------

 1. Overall Styling
 2. Index Page Styling
 3. Background Styling
 4. Navbar
 5. Home Page Styling
 6. Admin Page Styling

*/

/* 1. Overall Styling */
body {
  background-image: url('../../assets/img/background.png');
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
}

/* 2. Index Page Styling */

#indexBackground {
  display: block;
  margin: auto;
  width: 50%;
  height: 100%;
  background-image: url('../../assets/img/backgroundImage.png');
}

#btnIndex {
  display: inline-block;
  margin: auto;
  margin-top: 10vh;
  padding: 3vh;
}

#logo {
  display: block;
  padding-top: 10vh;
  margin: auto;
}

/* 3. Background Styling */

#homeBackground {
  display: block;
  margin: auto;
  width: 75%;
  height: 100%;
  background-image: url('../../assets/img/backgroundImage.png');
}


/* 4. Navbar  */



.nav-link{
    color: rgb(255,255,255);
}

.navbar-nav{
    color: rgb(255,255,255);
}

/* 5. Home Page Styling */

.row {
    display: flex;
    flex-direction: row;
}

.container{
    width: 100%;
}

.col{
    width: 50%;
}

/* 6. Admin Page Styling */

.navbuttons {
    display: flex;
    justify-content: center;
}

.navbuttons form {
    margin: 10px;
}

